@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");


.skills__container,
  .qualification__container
   {
    
    grid-template-columns: repeat(2, max-content);
  }

  .section__title,.section__subtitle{

    display: block;
    text-align: center;
  }

  .section__subtitle{
    margin-bottom: 40px;
  }

 

 .skills__container {
    column-gap: 5rem;
  }

.qualification {
 
  
  position: relative;
}

.qualification__container {
  
  
  row-gap: 3.5rem;
}

.qualification__title {
 
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
}

.qualification__title i {
 
  font-size: 2rem;
  font-weight: initial;
}

.qualification__info {
  
  display: grid;
  row-gap: 2rem;
}

.qualification__name {
  font-size: var(--normal-font-size);
  margin-bottom: 1.25rem;
}

.qualification__country, 
.qualification__year {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__country {
  margin-bottom: .75rem;
}

.qualification__img {
  width: 150px;
  position: absolute;
  right: -3rem;
  bottom: 12rem;
  transform: rotate(15deg);
  opacity: .1;
}

@media screen and (min-width: 502px) {
 
  .qualification__container{
    grid-template-columns: repeat(2, max-content);
  }
  .qualification__container {
    justify-content: center;
    column-gap: 10rem;
  }

    .skills__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__container {
    justify-content: center;
  }

}

@media screen and (max-width:500px) {
  .qualification__container {
    
   display: flex;
   flex-direction: column;
    column-gap: 14rem;
  }
  .qualification__title {
    margin-bottom: 3rem;
  }
  .qualification__title i {
    font-size: 1.25rem;
  }
  .qualification__name {
    font-size: var(--h3-font-size);
  }
  .qualification__img {
    width: 300px;
    left: -6rem;
    bottom: 5rem;
  }

  .skills__container {
    column-gap: 10rem;
  }
  .skills__title {
    margin-bottom: 3rem;
  }
  .skills i {
    font-size: 1.25rem;
  }
  .skills__name {
    font-size: var(--normal-font-size);
  }
  .skills__info {
    gap: 3rem;
  }

  
  
}


/* skills */
.skills__container {
  row-gap: 3.5rem;
 
}

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills__title i {
  font-size: 1rem;
  font-weight: initial;
}

.skills__info, 
.skills__data, 
.skills__blob {
  display: grid;
}

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills__data {
  justify-content: center;
  text-align: center;
}

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .4s; /* for dark mode animation */
}

.skills__blob img {
  width: 40px;
}

.skills__name {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

/* Animation skills */
.skills__blob:hover img {
  animation: bounce-skills .6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}


/* skills */